body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  background-color: $footer-bg-color;
  color: color("grey", "base");
  text-align: center;

  a {
    color: color("grey", "lighten-4");
  }
}

@media #{$medium-and-up} {
  footer.page-footer {
    text-align: left;
  }
}
