body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  background-color: $footer-bg-color;
  color: color("grey", "lighten-1");
  text-align: center;
  padding-bottom: 20px;

  a {
    color: color("grey", "base");
    color: rgba(255, 255, 255, 0.5);

    &:hover, &:active {
      color: color("grey", "lighten-5");
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .row:last-child {
    margin-bottom: 0;
  }
}

@media #{$medium-and-up} {
  footer.page-footer {
    text-align: left;
  }
}
