.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.bold {
  font-weight: bold !important;
}

.border-bottom-sm {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.center-align-sm {
  text-align: center;
}

.n-m-b {
  margin-bottom: 0 !important;
}

@media #{$medium-and-up} {
  .float-right-on-md {
    float: right;
  }

  .border-bottom-sm {
    border: none;
  }

  .center-align-sm {
    text-align: left;
  }
}
